<h2><%= @current_user.name %> show page</h2>
<div>Name:  <%= @current_user.name %> </div>
<div>Age:  <%= @current_user.age %> </div>
<div>Location:  <%= @current_user.location %> </div>
<div>Bio:  <%= @current_user.bio %> </div>
<%= link_to "Edit information", edit_user_path, class: "link_button"%>
<%= link_to "Edit personal information", edit_user_path, class: "link_button"%>