<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
        <p><%= error %></p>
    <% end %>
<% end %>
<%=form_for @review do |f|%>
    <%= f.hidden_field :reviewee_id, :value => @reviewee.id %>
    <%= f.hidden_field :reviewer_id, :value => @current_user.id %>
   

    <%= f.label :review %>
    <%= f.text_area :review %>

    <%= f.submit %>
    <% end %>
 