<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Freetrade</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if session["user_id"] != nil && @current_user%>
      <nav class="user_navigation">
        <nav class= "inner_nav">
          <div class="inner_item hover_item">
            <%= link_to 'All Items', items_path %>
          </div>
          <div class="inner_item hover_item">
            <%= link_to 'My Items', my_items_path %>
          </div>
          <div class="inner_item hover_item">
            <%= link_to 'My Offers', offers_path %>         
          </div>
        </nav>
        <div class="user_navigation_item">
          <%= link_to @current_user.name, @current_user %>
          <%= button_to "LogOut", logout_path, method: :delete %>
        </div>
      </nav>
    <% end %>
    <main>
      <% if flash[:message] %>
        <div class="error__box">
          <p><%= flash[:message] %></p>
        </div>
      <% end %>
      
      <%= yield %>
    </main>

  </body>
</html>
